@mixin font($size, $height, $weight: 400,) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-family: "Roboto", "Arial", sans-serif;
}

@mixin font-size($size, $height) {
  font-size: $size;
  line-height: $height;
}
